/* Add this CSS to your existing styles or create a new CSS file */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.card {
  width: calc(50% - 50px);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-weight: 700;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
}

.card-description {
  font-size: 14px;
  color: #707070;
  margin-bottom: 10px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-price {
  font-weight: 700;
  font-size: 16px;
}

.card-button {
  padding: 8px 16px;
  background-color: #2A3456;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-button:hover {
  background-color: #121725;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px; /* Width of the scroll bar */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Background color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scroll thumb */
  border-radius: 3px; /* Rounded corners of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scroll thumb on hover */
}